<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="\static\styles\loginstyle.css">
    <link rel="stylesheet" href="\static\styles\error.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">

</head>
<body>
    <section class="main">
        
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == 'error' %}
                            <div class="error">
                                {{message}}
                            </div>   
                        {% endif %}

                        {% if category == 'success' %}
                            <div class="success" >
                                {{message}}
                            </div>   
                        {% endif %}
                        {% if category == 'warning' %}
                            <div class="warning" >
                                {{message}}
                            </div>   
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <p class="tittle">Farmacia Marien</p>
            <div class="separator"></div>
            <p class="message">Su salud en nuestras manos</p>
            
            
            <form class="login-form" method="POST">
                <div class="form-control">
                    <input type="text" class="inp" placeholder="Ingresar correo" name="username">
                    <i class="fas fa-envelope"></i>
                </div>
                <div class="form-control">
                    <input type="password" class="inp" placeholder="contraseña" name="password">
                    <i class="fas fa-lock"></i>
                </div>

                <div class="form-control">
                    <input type="checkbox" id="check">
                    <label for="check">Recordarme</label>
                </div>
                <a href="#">Olvide mi contraseña</a>
            <a href="/register">No tengo una cuenta</a>
                <button class="submit" type="submit">Ingresar</button>
            </form>
        </div>
    </section>
</body>
</html>