{% extends "AdminLayout.html" %}

{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'error' %}
                <div class="error">
                    {{message}}
                </div>   
            {% endif %}

            {% if category == 'success' %}
                <div class="success" >
                    {{message}}
                </div>   
            {% endif %}
            {% if category == 'warning' %}
                <div class="warning" >
                    {{message}}
                </div>   
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}
    <!-- Modal Agregar -->
    <div class="modal fade  " id="AddProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="col-12 ">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Ingresar Datos del producto</h4>
                            <form action="/productos" method="POST"class="form-sample">
                                <p class="card-description">
                                    Información del producto
                                </p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Marca</label>
                                            <div class="col-sm-9">
                                                <select name="idMarca" class="form-control">                                                 
                                                    {% for m in listarMarcas %}
                                                        <option  value="{{m.idMarca}}">{{m.marca}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Tipo</label>
                                            <div class="col-sm-9">
                                                <select name="idTipoProducto" class="form-control">                                                 
                                                    {% for t in listarTiposProducto %}
                                                        <option  value="{{t.idTipoProducto}}">{{t.tipoProducto}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Nombre</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="nombrep" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Expedición</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="expedicion"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Vencimiento</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="vencimiento"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Prescripción</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="prescripcion"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Descripción</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="descripcion" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Precio</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="precio"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Cantidad</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="cantidad"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Imagen URL</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="imagen"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Aceptar</button>
                                </div>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Editar -->
    <div class="modal fade  " id="EditProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="col-12 ">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Actualizar Datos del producto</h4>
                            <form class="form-sample">
                                <p class="card-description">
                                    Información del producto
                                </p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Marca</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Tipo</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Nombre</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Expedición</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Vencimiento</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Prescripción</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Descripción</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Precio</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Cantidad</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Imagen URL</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-primary">Actualizar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Panel -->
    <div class="content-wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <div class="home-tab">
                        <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="#overview"
                                        role="tab" aria-controls="overview" aria-selected="true">Lista de productos</a>
                                </li>
                            </ul>
                            <div>
                                <div class="btn-wrapper">
                                    <a href="#" class="btn btn-otline-dark align-items-center"><i
                                            class="icon-share"></i> Compartir</a>
                                    <a href="#" class="btn btn-otline-dark"><i class="icon-printer"></i>
                                        Imprimir</a>
                                    <a href="#" class="btn btn-primary text-white me-0" data-bs-toggle="modal"
                                        data-bs-target="#AddProduct"><i class="mdi mdi-account-plus"></i>
                                        Agregar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="col-lg-12 grid-margin">
                <div class="card">
                    <div class="card-body">

                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Lista de productos de Farmacia Marien</h4>
                                    <form class="search-form" action="#">
                                        <input type="search" class="form-control" placeholder="Buscar" title="Buscar">
                                    </form>
                                    <div class="table-responsive pt-3">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        #
                                                    </th>
                                                    <th>
                                                        Marca
                                                    </th>
                                                    <th>
                                                        Tipo
                                                    </th>
                                                    <th>
                                                        Nombre
                                                    </th>
                                                    <th>
                                                        Expedición
                                                    </th>
                                                    <th>
                                                        Vencimiento
                                                    </th>
                                                    <th>
                                                        Prescripción
                                                    </th>
                                                    <th>
                                                        Descripción
                                                    </th>
                                                    <th>
                                                        Precio
                                                    </th>
                                                    <th>
                                                        Stock
                                                    </th>
                                                    <th>
                                                        Imagen
                                                    </th>
                                                    <th>
                                                        Categoría
                                                    </th>
                                                    <th>
                                                        Acciones
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for p in DatosProductos%}
                                                    <tr>                                                    
                                                        <td>{{p.idProducto}}</td>
                                                        <td>{{p.marca}}</td>
                                                        <td>{{p.tipoProducto}}</td>
                                                        <td>{{p.nombreProducto}}</td>
                                                        <td>{{p.fechaExpedicion}}</td>
                                                        <td>{{p.fechaVencimiento}}</td>
                                                        <td>{{p.prescripcion}}</td>
                                                        <td>{{p.descripcion}}</td>
                                                        <td>{{p.precio}}</td>
                                                        <td>{{p.cantidad}}</td>
                                                        <td>{{p.urlImg}}</td>
                                                        <td>{{p.categoria}}</td>
                                                        <td>
                                                            <div class="btn-wrapper">
                                                                <a href="#" class="btn btn-warning text-white me-0"
                                                                    data-bs-toggle="modal" data-bs-target="#EditProduct"><i
                                                                        class="EditE "></i>Editar</a>
                                                                <a href="#" class="btn btn-danger text-white me-0"
                                                                    data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                                                                        class="DelE "></i>Eliminar</a>
                                                            </div>
                                                        </td>
                                                        
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
  

{% endblock %}
