<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="\static\styles\registerstyle.css">
    <link rel="stylesheet" href="\static\styles\error.css">
</head>
<body>
    <section class="main">
        
        <div class="container">
 
            <p class="tittle">Farmacia Marien</p>
            <div class="separator"></div>
            <p class="message">¡¡Nueva cuenta!!</p>
            
            
            <form class="login-form" action="/register" method="POST">
                <div class="form-control2">
                    <input type="text" class="inp" placeholder="Primer nombre" name="pnombre">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="form-control2">
                    <input type="text" class="inp" placeholder="Segundo nombre" name="snombre">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="form-control2">
                    <input type="text" class="inp" placeholder="Primer apellido" name="papellido">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="form-control2">
                    <input type="text" class="inp" placeholder="Segundo apellido" name="sapellido">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="form-control">
                    <input type="text" class="inp" placeholder="Teléfono" name="telefono">
                    <i class="fa fa-phone"></i>
                </div>
                <div class="form-control">
                    <input type="text" class="inp" placeholder="Correo electrónico" name="correo">
                    <i class="fas fa-envelope"></i>
                </div>
                <div class="form-control">
                    <input type="text" class="inp" placeholder="Nombre de usuario" name="username">
                    <i class="fas fa-user"></i>
                </div>
                <div class="form-control">
                    <input type="password" class="inp" placeholder="Contraseña" name="contrasena">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="form-control">
                    <input type="password" class="inp" placeholder="Confirmar contraseña" name="confirmarcontra">
                    <i class="fa-solid fa-check"></i>
                </div>
                <div class="form-control">
                    <input type="checkbox" id="check">
                    <label for="check"> acepto las <a href="#">Politicas y condiciones</a></label>
                </div>
            
                <button class="submit" type="submit">Registrarse</button>
            </form>
        </div>
    </section>
</body>
</html>
