* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    display: grid;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 450px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tittle {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}

.separator {
    background-color: aqua;
    width: 185px;
    height: 4px;
    margin: 24px;
}

.message {
    text-align: center;
    font-size: 1.1em;
    line-height: 28px;
    margin-bottom: 30px;
    color: #696969;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 100%;
    position: relative;
    margin-bottom: 24px;
}

.form-control2 {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    display: flex;
}

.inp,
button {
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1em;
}

.inp {
    width: 100%;
    background-color: #e6e6e6;
    color: #333;
    letter-spacing: 0.5px;
    padding: 14px 64px;
    text-align: center;
}

.inp~i {
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    transition: color 0.4s;
}



a {
    text-align: left;
}

input:focus~i {
    color: #843bc7;
}

button.submit {
    color: white;
    margin: 14px 64px;
    padding: 34px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    background-image: linear-gradient(to right, #5BDE7C, #70F5B6);
    cursor: pointer;
    transition: opacity 0.4s;
}

button.submit:hover {
    opacity: 0.9s;
}


@media (max-width:780px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}